@import "variables";
@import "~bootstrap";
@import "bootswatch";

@font-face {
	font-family: 'secret';
	src: url('./password.ttf');
}

input[type="text"].secret, input[type="password"] {
	font-family: 'secret', monospace;
}

%unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable {
	-webkit-touch-callout: text !important;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.unselectable {
	@extend %unselectable;
	*:not(input):not(textarea) {
		@extend %unselectable;
	}
}
